
  {{> head }} 
    {{> nabvar}}

<!-- personalizado -->
    
      <!-- joonbutron  -->

      <section class=" row">
          <p class="col-12 col-md-7">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nostrum itaque aliquam est quasi fuga aspernatur, accusamus voluptas dolorum magni iste id sint laborum ducimus cumque? Eveniet voluptatem praesentium est.
          </p>
          <figure class="col-12 col-md-5 ">
              <img src="assets/img/{{perfile}}.jpg" alt="{{perfile}}" class="img-thumbnail">
          </figure>

          
      </section>


<!-- footer -->

  {{> footer }}
